language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache/files

php:
    - 5.6

before_install:
    - git clone https://github.com/knpuniversity/challenger.git $HOME/challenger
    - composer install -d $HOME/challenger

script: php $HOME/challenger/bin/challenger 

